body{
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.container{
    max-width: 200px;
    display: grid;
    text-align: center;
}
.forn-signin{
    display: grid;
    grid-area: a;
}
input{
    margin-top: 15px;
    margin-bottom: 15px;
}